---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loadgen-config
data:
  ET_WWW_URL: "http://easytravel-www:80"
  ET_FRONTEND_URL: "http://easytravel-www.easytravel-staging.192.168.3.91.nip.io:80"
  ET_APM_SERVER_DEFAULT: "APM"
  ET_PROBLEMS_DELAY: "7500"
  ET_VISIT_NUMBER: "5"
  ET_PROBLEMS: "LoginProblems"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: loadgenerator
  name: loadgenerator
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: loadgenerator
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: loadgenerator
    spec:
      containers:
      - name: loadgenerator
        image: "{{ .Values.image }}"
        imagePullPolicy: IfNotPresent
        envFrom:
          - configMapRef:
              name: loadgen-config
        env:        
        - name: DT_CUSTOM_PROP
          value: "version={{ .Chart.Version }} revision={{ .Release.Revision }} releasename={{ .Release.Name }} keptn_project={{ .Values.keptn.project }} keptn_service={{ .Values.keptn.service }} keptn_stage={{ .Values.keptn.stage }} keptn_deployment={{ .Values.keptn.deployment }}"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: "metadata.name"
        - name: DEPLOYMENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: "metadata.labels['deployment']"
        - name: CONTAINER_IMAGE
          value: "{{ .Values.image }}"
        - name: KEPTN_PROJECT
          value: "{{ .Values.keptn.project }}"
        - name: KEPTN_STAGE
          value: "{{ .Values.keptn.stage }}"
        - name: KEPTN_SERVICE
          value: "{{ .Values.keptn.service }}"
        - name: KEPTN_DEPLOYMENT
          value: "{{ .Values.keptn.deployment }}" 