---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
data:
  CATALINA_OPTS: "-Dconfig.apmServerDefault=APM -Xmx525m -Djava.security.egd=file:/dev/./urandom"
  ET_BACKEND_URL: "http://easytravel-backend:8080"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: easytravel-frontend
  labels:
    app: easytravel-frontend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: easytravel-frontend
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: easytravel-frontend
        app.kubernetes.io/name: {{ .Values.keptn.service }}
        app.kubernetes.io/instance: "{{ .Values.keptn.service }}-{{ .Values.keptn.deployment }}"
        app.kubernetes.io/component: api
        app.kubernetes.io/part-of: "{{ .Values.keptn.project }}"
        app.kubernetes.io/managed-by: Keptn
        app.kubernetes.io/version: {{ (split ":" .Values.image)._1 | default "latest" }}        
    spec:
      containers:
      - name: easytravel-frontend
        image: "{{ .Values.image }}"
        imagePullPolicy: IfNotPresent
        ports:
#        - name: http
        - containerPort: 8080
#          protocol: TCP
#        - name: "8280"  
#          containerPort: 8280
#          protocol: TCP
        envFrom:
           - configMapRef:
               name: frontend-config            
        env:
#        - name: CATALINA_OPTS
#          value: "-Dconfig.apmServerDefault=APM -Xmx525m"
#        - name: ET_BACKEND_URL
#          value: "http://easytravel-backend:8080"
        - name: DT_CUSTOM_PROP
          value: "version={{ .Chart.Version }} revision={{ .Release.Revision }} releasename={{ .Release.Name }} keptn_project={{ .Values.keptn.project }} keptn_service={{ .Values.keptn.service }} keptn_stage={{ .Values.keptn.stage }} keptn_deployment={{ .Values.keptn.deployment }}"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: "metadata.name"
        - name: DEPLOYMENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: "metadata.labels['deployment']"
        - name: CONTAINER_IMAGE
          value: "{{ .Values.image }}"
        - name: KEPTN_PROJECT
          value: "{{ .Values.keptn.project }}"
        - name: KEPTN_STAGE
          value: "{{ .Values.keptn.stage }}"
        - name: KEPTN_SERVICE
          value: "{{ .Values.keptn.service }}"
        - name: KEPTN_DEPLOYMENT
          value: "{{ .Values.keptn.deployment }}"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 15
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 15          


